body {
    margin: 0px;
    background: #191b20;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background: #1a2e4b;
    align-content: center;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 2em;
}

.header a, a:visited, a:hover, a:active, a:focus {
    color: white;
    text-decoration: none;
}

.weather-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 500px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.25s ease;
}

.weather-button.correct {
    color: #00DD00;
    border: 2px solid #00DD00;
}

.weather-button.incorrect {
    color: #CC0000;
    border: 2px solid #CC0000;
}

#header-buttons {
    display: flex;
    gap: 1em;
}

#location-display {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

#location-title {
    text-align: center;
    font-size: 400%;
}

#main-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 500px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.25s ease;
}

#start-button:hover {
    background-color: white;
    color: black;
}

#header-title {
    text-align: center;
}

/* Start of CSS Styles for Signup and Signin */

#signin-body {
    text-align: center;
}

#signup-body {
    text-align: center;
}

.signin-fields {
    margin-top: 50px;
}

.signup-fields {
    margin-top: 50px;
}

.input-error {
    border-color: red;
}

.error-text {
    text-align: center;
    padding: 5px;
    margin-top: 2px;
    text-decoration: underline;
    color: red;
    font-size: 0.8em;
}

.hidden{
    visibility: hidden;
}

/* End of CSS Styles for Signup and Signin */

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {

 .content-container {
        width: 50%;
    }


}